<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="katalium-suite">
    <listeners>
        <listener class-name="com.example.TestLogListener"/>
    </listeners>

    <test name="blackjack-tests">
        <classes>
            <class name="com.example.BlackjackSeleniumTest"/>
        </classes>
    </test>
</suite>
